# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*.pyo

# ============================================================
# VIRTUAL ENVIRONMENT
# ============================================================

venv/
.venv/

# ============================================================
# ENVIRONMENT
# ============================================================

.env

# ============================================================
# DJANGO
# ============================================================

*.sqlite3
media/

# ============================================================
# IDE
# ============================================================

.vscode/

# ============================================================
# OS
# ============================================================

Thumbs.db
.DS_Store